body{

margin: 50px;
}
.container{
	/*height: 500px;*/
	width: 500px;
	background-color: blue;
	margin-left: 400px;
	/*margin-top: -900px;*/
	padding: 50px;
	border-radius: 20px;
	color: white;
	font-size: 20px;
}
#disp{
	/*height: 50px;*/
	width: 480px;
	background-color: #F5F6F7;
	color: black;
	font-size: 20px;
	padding: 10px;
	/*display: none;*/
	visibility: hidden;
}



/*stylling for fo */
.case{
	height: 600px;
	width: 330px;
	border-radius: 30px;
	background-color: black;
	/*margin-top: 300px;*/
	padding-top: 15px;
}
.innercase{
	height: 580px;
	width: 310px;
	border-radius: 30px;
	background-color: red;
	/*margin-top: -200px;*/
	margin-left: 10px;
	/*margin-top: 10px;*/
	/*padding: 30px;*/
	padding-top: 5px;
}


#screen{
	height: 575px;
	width: 298px;
	border-radius: 30px;
	background-color: white;
	/*margin-top: 10px;*/
	margin-left: 5px;
	/*margin-top: -30px;
/*}*/

}
#screen2{
	height: 230px;
	width: 298px;
	background-color: white;
	/*margin-top: 10px;*/
	/*margin-top: -30px;*/
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	/*padding-top: 20px;*/
	text-align: right;
	font-size: 30px;
}
.speaker{
	height: 25px;
	width: 150px;
	background-color: black;
	/*position: center;
	/*display: inline-block;
	margin: 0 auto;*/
	margin-left: 80px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; 
	margin-top: -580px
}
.btncontainer{
	height: 240px;
	width: 238px;
	background-color: yellow;
	padding: 30px;
	text-align: center;
	font-size: 30px;
	text-align: center;
}
.btn{
	background-color:  #ABB1BA;
	height: 55px;
	width: 55px;
	color: black;
	border-radius: 100%


	/*text-align: center;*/

}
#btn2{
	margin-top: -55px;
	margin-left: 80px;
	padding: 2px;
}
#btn3{
	margin-top: -55px;
	margin-left: 160px;

}
#btn4{
	margin-top: 10px;
	/*margin-left: 80px;*/
}
#btn5{
	margin-top: -55px;
	margin-left: 80px;
}
#btn6{
	margin-top: -55px;
	margin-left: 160px;

}
#btn7{
	margin-top: 10px;
	/*margin-left: 80px;*/
}
#btn8{
	margin-top: -55px;
	margin-left: 80px;
}
#btn9{
	margin-top: -55px;
	margin-left: 160px;

}
#btnStar{
	margin-top: 10px;
	/*margin-left: 80px;*/
}
#btnSp{
	margin-top: -55px;
	margin-left: 80px;
}
#btnAsh{
	margin-top: -55px;
	margin-left: 160px;

}

#caller{
	height: 45px;
	width: 298px;
	background-color: green;
	/*margin-top: 10px;*/
	/*margin-top: -30px;*/
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	align-items: center;
}
#receiver{

}